<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LostArk > Character</title>
    <link rel="stylesheet" type="text/css"  href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css"  href="/assets/css/lostark/character.css">
</head>
<body>
    <div class="search">
        <form class="form_box" id="searchForm" action="/lostark/search" method="get">
            <input class="input_box" type="text" name="charName" id="charName" placeholder="캐릭터명" maxlength="18"/>
            <button class="input_btn" type="submit"></button>
        </form>
    </div>
    {% if charName %}
    <div class="outline">
        OUT
    </div>
    <div class="wrap">
        <div class="content">
            <div class="category_frame">
                <div class="equips">
                    {% for equip in armors %}
                    <figure class="equip">
                        <img class ="equip_icon" src="{{equip.Icon}}" alt="{{equip.Name}}">
                        <figcaption class="equip_caption">{{equip.Name}}</figcaption>
                        {{equip.Quality}}
                    </figure>
                    {% endfor %}
                </div>
            </div>
            <div class="category_frame">
                <div class="accs">
                    {% for acc in accs %}
                    <figure class="acc">
                        <img class ="acc_icon" src="{{acc.Icon}}" alt="{{acc.Name}}">
                        <figcaption class="acc_caption">{{acc.Name}}/{{acc.Quality}}<br>
                            {{acc.Enchant_Rank[0]}}|{{acc.Enchant[0]}}<br>
                            {{acc.Enchant_Rank[1]}}|{{acc.Enchant[1]}}<br>
                            {{acc.Enchant_Rank[2]}}|{{acc.Enchant[2]}}<br>
                        </figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>
            <div class="category_frame">
                <div class="gems">
                    {% for gem in gems %}
                        {% if gem.Type == 'D' %}
                            <figure class="gem_damage">
                                <div class="icon_pack">
                                    <span class="gem_level">{{gem.GemLevel}}</span>
                                    <img class="gem_icon" src="{{gem.GemIcon}}" alt="{{gem.GemName}}">
                                    <img class="gem_skill_icon" src="{{gem.Icon}}" alt="{{gem.Name}}">
                                </div>
                            </figure>
                        {% endif %}
                        {% if gem.Type == 'C' %}
                            <figure class="gem_cool">
                                <div class="icon_pack">
                                    <span class="gem_level">{{gem.GemLevel}}</span>
                                    <img class="gem_icon" src="{{gem.GemIcon}}" alt="{{gem.GemName}}">
                                    <img class="gem_skill_icon" src="{{gem.Icon}}" alt="{{gem.Name}}">
                                </div>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="category_frame">
                <div class="skills">
                    {% for skill in skills %}
                        {% if skill.Level > 2 %}
                        <figure class="skill">
                            <div class="icon_pack">
                                <span class="skill_level">{{skill.Level}}</span>
                                <img class="skill_icon" src="{{skill.Icon}}" alt="{{skill.Name}}">
                                {% for tripod in skill.Tripods %}
                                    {% if tripod.IsSelected == True %}
                                        <img class="tripod_icon" src="{{tripod.Icon}}" alt="{{tripod.Name}}">{{tripod.Level}}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="category_frame">
                5
            </div>
            <div class="category_frame">
                6
            </div>
            <div class="category_frame">
                7
            </div>
        </div>
    </div>
    {% endif %}
</body>
</html>