<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Astalgia</title>
    <link rel="stylesheet" type="text/css"  href="/assets/css/index.css">
    <link rel="stylesheet" type="text/css"  href="/assets/css/reset.css">
</head>
<body>
    {% include 'layout/header.html' %}
    <div class="nav">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
    </div>
    <div class="main">
        <div class="unit">S1</div>
        <div class="unit">S2</div>
        <div class="unit">S3</div>
        <div class="unit ">S4</div>
        <div class="unit">S5</div>
        <div class="unit">S6</div>
        <div class="unit">S7</div>
        <div class="unit">S8</div>
        <div class="unit">S9</div>
        <div class="unit">S0</div>
        <!--
        <a class="logo" href="/lostark">BLOCK_1</a>
        <a class="logo" href="/maple">BLOCK_2</a>
        <a class="logo" href="/dnf">BLOCK_3</a>
        -->
    </div>
    {% include 'layout/footer.html' %}
</body>
</html>