<head>
    <script type="module" src="/assets/js/Chart.umd.min.js"></script>
</head>
<script type="text/javascript">
    //Chart
    let priceStatistics = null;
    let tradeStatistics = null;
    function drawChart(stats,name){
        if (priceStatistics) {
            priceStatistics.destroy();
        }
        if (tradeStatistics) {
            tradeStatistics.destroy();
        }

        let priceChart = document.getElementById('statisticsPriceChart');
        let tradeChart = document.getElementById('statisticsTradeChart');
        document.getElementById('overlay').style.display = 'flex';
        var prices = [];
        var period = [];
        var trades = [];
        stats.some((price,idx)=>{
            prices[idx] = price.AvgPrice;
            period[idx] = price.Date.substring(5);
            trades[idx] = price.TradeCount;
            if(idx > 6){
                return true;
            }
        });

        priceStatistics = new Chart(priceChart, {
            type: 'bar',
            data: {
                labels: period.reverse(),
                datasets: [
                    {
                        label: name+" 평균가격 추이",
                        data: prices.reverse(),
                        backgroundColor:'#C2A1E8',
                        barPercentage:0.5,
                    }
                ],
            },
        });
        tradeStatistics = new Chart(tradeChart, {
            type: 'line',
            data: {
                labels: period.reverse(),
                datasets: [
                    {
                        label: name+" 거래량 추이",
                        data: trades.reverse(),
                        backgroundColor:'#C2A1E8',
                        barPercentage:0.5,
                    }
                ],
            },
        });
    }

    function statisticsClose(){
        document.getElementById('overlay').style.display = 'none';
    }
</script>
<div class="overlay" style="display:none;" id="overlay">
    <div class="canvasFrame">
        <div class="canvasHeader">
            <span>

            </span>
            <span class="escapeButton" onClick="statisticsClose()">
                {% include 'layout/func/close.html' %}
            </span>
        </div>
        <canvas class="statCanvas" id="statisticsPriceChart"></canvas>
        <canvas class="statCanvas" id="statisticsTradeChart"></canvas>
    </div>
</div>